name: Release

on: 
  push:
    tags:
    - '*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: 3.1.x
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - uses: papeloto/action-zip@v1
        with:
          files: ChocolaTimer/bin/Release/netcoreapp3.1/
          dest: ChocolaTimer${{ env.RELEASE_VERSION }}.zip
      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "*.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
